.body-bg {
    height: 513px;
    width: 100%;
    background-color: #c9c3c3;
}

.menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 3;
}

/* CSS để biến input thành hình tròn */
.round-checkbox input[type="checkbox"] {
    display: none;
    /* Ẩn input thật đi */
}

.round-checkbox label {
    position: relative;
    padding-left: 30px;
    /* Điều chỉnh khoảng cách giữa checkbox và nội dung */
    cursor: pointer;
}

.round-checkbox label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #9d9c9899;
    border-radius: 50%;
}

.round-checkbox input[type="checkbox"]:checked+label:before {
    background-color: #fc7600;
}


.sticky_header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px #ddd;
    background: #fff;
}